// Borders
// ------------------------------------ *
$standard-border: 1px solid $gray-lighter;
$lightgray-border: 1px solid $gray-light;
$brand-border: 1px solid $brand-primary;
$radius-s: 3px; //0.125rem
$radius-m: 6px; //0.25rem
$radius-l: 16px; //0.5rem
$width-s: 0.0625rem;
$width-m: 0.125rem;
$width-l: 0.25rem;
$style: solid;
