// Media
// ------------------------------------ *
$tablet-min:  48em; //min-width
$desktop-min: 62em; //min-width
$wide-min: 75em; //min-width

// Breakpoints
// ------------------------------------ *
$phone: 30em;
$tablet: 48em;
$desktop: 62em;
$wide: 75em;
$max-width: 61.9375em;
