// Shadows
// ------------------------------------ *

$shadow-color-1: rgba(42,47,69,0.1);
$shadow-color-2: rgba(42,47,69,0.08);
$shadow-color-3: rgba(0,0,0,0.08);

$depth1: 0 2px 5px 0 $shadow-color-1, 0 3px 9px 0 $shadow-color-2, 0 1px 1.5px 0 $shadow-color-3;
$depth2: 0 5px 10px 0 $shadow-color-1, 0 7px 14px 0 $shadow-color-2, 0 3px 6px 0 $shadow-color-3;
$depth3: 0 7px 12px 0 $shadow-color-1, 0 8px 16px 0 $shadow-color-2, 0 9px 18px 0 $shadow-color-3;
$depth4: 0 9px 15 0 $shadow-color-1, 0 10px 20px 0 $shadow-color-2, 0 9px 20px 0 $shadow-color-3; 