// Brand Colors
$brand-primary: #3575d3;
$brand-primary-alternate: #2e66ba;
$brand-success: #00c11a;
$brand-danger: #f72f26;
$brand-warning: #f89c24;
$brand-info: $brand-primary;
$brand-border-bottom: $brand-primary;
$brand-two-letter: 'bh';
