$brand-two-letter: 'bh';

// Brand Colors -- Bluehost
$brand-primary: #3575d3;
$brand-primary-alternate: #2e66ba;
$brand-success: #17b212;
$brand-danger: #d0021b;
$brand-warning: #f89c24;
$brand-info: $brand-primary;
$brand-border-bottom: $brand-primary;
