/* Extra small devices (portrait phones, less than 576px)
   No media query since this is the default in Bootstrap */
body::before { /* Check your responsive break-points brah */
	content: "";
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	height: 3px;
	background: green;
	z-index: 1000;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
	body::before {
		background: blue;
	}
}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	body::before {
		background: yellow;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	body::before {
		background: red;
	}
}


/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	body::before {
		content: "";
		position: absolute;
		top: 0; left: 0;
		width: 100%;
		height: 3px;
		background: white;
		z-index: 1000;
	}
}
