// Padding
.p0  { padding: 0 }
.pt0 { padding-top: 0 }
.pr0 { padding-right: 0 }
.pb0 { padding-bottom: 0 }
.pl0 { padding-left: 0 }
.px0 { padding-left: 0; padding-right:  0 }
.py0 { padding-top: 0;  padding-bottom: 0 }

.p1  { padding:        4px }
.pt1 { padding-top:    4px }
.pr1 { padding-right:  4px }
.pb1 { padding-bottom: 4px }
.pl1 { padding-left:   4px }
.py1 { padding-top:    4px; padding-bottom: 4px }
.px1 { padding-left:   4px; padding-right:  4px }

.p2  { padding:        8px }
.pt2 { padding-top:    8px }
.pr2 { padding-right:  8px }
.pb2 { padding-bottom: 8px }
.pl2 { padding-left:   8px }
.py2 { padding-top:    8px; padding-bottom: 8px }
.px2 { padding-left:   8px; padding-right:  8px }

.p3  { padding:        16px }
.pt3 { padding-top:    16px }
.pr3 { padding-right:  16px }
.pb3 { padding-bottom: 16px }
.pl3 { padding-left:   16px }
.py3 { padding-top:    16px; padding-bottom: 16px }
.px3 { padding-left:   16px; padding-right:  16px }

.p4  { padding:        24px }
.pt4 { padding-top:    24px }
.pr4 { padding-right:  24px }
.pb4 { padding-bottom: 24px }
.pl4 { padding-left:   24px }
.py4 { padding-top:    24px; padding-bottom: 24px }
.px4 { padding-left:   24px; padding-right:  24px }

.p5  { padding:        40px }
.pt5 { padding-top:    40px }
.pr5 { padding-right:  40px }
.pb5 { padding-bottom: 40px }
.pl5 { padding-left:   40px }
.py5 { padding-top:    40px; padding-bottom: 40px }
.px5 { padding-left:   40px; padding-right:  40px }

.p6  { padding:        80px }
.pt6 { padding-top:    80px }
.pr6 { padding-right:  80px }
.pb6 { padding-bottom: 80px }
.pl6 { padding-left:   80px }
.py6 { padding-top:    80px; padding-bottom: 80px }
.px6 { padding-left:   80px; padding-right:  80px }
