// mixins

// center an element along the y axis
@mixin vertically-center($position) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

// add an arrow in any direction to an element
@mixin arrow($direction, $size, $color) {
  border: {
    @if $direction == 'up' {
      bottom: $size solid $color;
      left: $size solid transparent;
      right: $size solid transparent;
    } @else if $direction == 'down' {
      top: $size solid $color;
      left: $size solid transparent;
      right: $size solid transparent;
    } @else if $direction == 'right' {
      left: $size solid $color;
      top: $size solid transparent;
      bottom: $size solid transparent;
    } @else if $direction == 'left' {
      right: $size solid $color;
      top: $size solid transparent;
      bottom: $size solid transparent;
    }
  }
}

// slide in and out animations

@mixin slide($direction, $value) {
  // slide in
  .slide-in-#{$direction} {
    -webkit-animation: slide-in-#{$direction} 0.5s forwards;
    animation: slide-in-#{$direction} 0.5s forwards;
  }
  @keyframes slide-in-#{$direction} {
    100% {
      transform: translateX(0%);
    }
  }
  @-webkit-keyframes slide-in-#{$direction} {
    100% {
      -webkit-transform: translateX(0%);
    }
  }

  // slide out right
  .slide-out-#{$direction} {
    -webkit-animation: slide-out-#{$direction} 0.5s forwards;
    animation: slide-out-#{$direction} 0.5s forwards;
  }

  @keyframes slide-out-#{$direction} {
    0% {
      transform: translateX(0%);
    }
    100% {
      -webkit-transform: translateX($value);
    }
  }
  @-webkit-keyframes slide-out-#{$direction} {
    0% {
      transform: translateX(0%);
    }
    100% {
      -webkit-transform: translateX($value);
    }
  }
}

@mixin tablet {
  @media (min-width: $screen-sm) {
    @content;
  }
}

// email and office tab.
@mixin tile {
  background-color: $white;
  border: $standard-border;
  border-radius: $xxs;
  box-shadow: 0 1px 1px 0 #ccc;
  padding: $md;
}

// If no image exists, uses this as a filler so that the styling keeps its structure.
@mixin no-image($height) {
  background-image: linear-gradient(
    135deg,
    lighten($brand-primary, 10%),
    darken($brand-primary, 10%)
  );
  display: block;
  font-size: 0;
  height: $height;
  line-height: 0;
}
