@import "~@hostgator/design-system-tokens";

$brand-two-letter: "hg";

// Brand Colors -- HostGator
$brand-primary: $color-primary-80;
$brand-primary-alternate: $color-primary-50;
$brand-success: $color-success-50;
$brand-danger: $color-danger-50;
$brand-warning: $color-warning-50;
$brand-info: $brand-primary;
$brand-border-bottom: $color-primary-10;
