img[src$="#badge"] {
  width: auto;
}
.red-element {
  background: #f9dbe6;
}

.blue-element {
  background: #bcf4fd;
}

code {
  display: block;
  background: #2e3440 !important;
  margin: 8px 0 !important;
  padding: 16px !important;
  color: white !important;
  border-radius: 0 !important;
}
