$brand-two-letter: 'fd';

// Brand Colors -- FastDomain`
$brand-primary: #2c98c8;
$brand-primary-alternate: #1d6585;
$brand-success: #426c00;
$brand-danger: #c13425;
$brand-warning: #f89c24;
$brand-info: $brand-primary;
$brand-border-bottom: $brand-primary;
