// Borders
// Border Radius
.br1       {border-radius:3px;}
.br2       {border-radius:6px;}
.br3       {border-radius:24px;}
.br-circle {border-radius:50%}

// Border Width
.no-border       {border: 0 !important;}
.border-1        {border: 1px;}
.border-top-1    {border-top-width: 1px;}
.border-right-1  {border-right-width: 1px;}
.border-bottom-1 {border-bottom-width: 1px;}
.border-left-1   {border-left-width: 1px;}

// Border Color
.border-color-grey {border-color: $gray-lighter;}
.border-solid      {border-style: solid;}


// Box Shadow
.depth1 { box-shadow: $depth1; border: $standard-border; }
.depth2 { box-shadow: $depth2; border: 1px solid #BFCFDB;  }
.depth3 { box-shadow: $depth3; }

.depth1, .depth2, .depth3 {
	 -webkit-transition: all .24s;
	 transition: all .24s;
}

.hover-shadow:hover {
	box-shadow: $depth2;
  //box-shadow: 0 10px 30px 0 rgba(0,0,0,0.29);
}
.hover-shadow:active,
.hover-shadow:focus {
	//box-shadow: none;
}
