// Colors
// ------------------------------------ *
$blue: $brand-primary;
$blue-light: $blue-light;
$blue-dark: #2E66BA;
$green: $brand-success;
$green-light: #17B212;
$green-dark: #17B212;
$orange: $brand-warning;
$orange-light: #F89C24;
$red: $brand-danger;
$red-light: #F72F26;

$athens: #D7DBE0;
$water: #BFCFDB;
$dark-snow: #EDF4F9;

// toast
$success: $brand-success;
$info: $brand-primary;
$warning: $brand-warning;
$error: $brand-danger;
