// Spacing
// ------------------------------------ *
$xxxs: 2px;
$xxs: 4px;
$xs: 8px;
$sm: 16px;
$md: 24px;
$mdlg: 32px;
$lg: 40px;
$xl: 48px;
$xxl: 64px;
$xxxl: 80px;
$auto-min-width: 20rem;
$xs-max-width: 24rem;
$sm-max-width: 28rem;
$md-max-width: 50rem;
$lg-max-width: 64rem;
