// TODO: much of this file should be moved to `@uaf/theme`
// Text Alignment
.align-left { text-align: left; }

.align-center { text-align: center; }

.align-right { text-align: right; }

.align-justify { text-align: justify; }

// Text Decoration
.underline { text-decoration: underline; }

.text-decoration-none { text-decoration: none; }

// Text Utilities
.truncate {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// Cursor
.cursor-pointer { cursor: pointer; } // TODO: REORGANIZE - THIS IS AN INTERACTION ELEMENT

// Typography
// TODO: anywhere line heights and font sizes are used should be variablized for easier control
h1,
.h1,
.font-size-xxxl,
.fsxxxl {
  margin-left: -2px;
  font-size: $font-size-h1;
  line-height: $line-height-h1;
}

h2,
.h2,
.font-size-xxl,
.fsxxl {
  margin-left: -2px;
  font-size: $font-size-h2;
  line-height: $line-height-h2;
}

h3,
.h3,
.font-size-xl,
.fsxl {
  font-size: $font-size-h3;
  line-height: $line-height-h3;
}

h4,
.h4,
.font-size-l,
.fsl {
  font-size: $font-size-h4;
  line-height: $line-height-h4;
}

h5,
.h5,
.p,
.font-size-m,
.fsm {
  font-size: $font-size-base;
  line-height: $line-height-base;
}

h6,
.h6,
.font-size-s,
.fss {
  font-size: 14px;
  line-height: $line-height-base;
}

small,
.font-size-xs,
.fsxs {
  font-size: 13px;
  line-height: $line-height-base;
}

.font-size-xxs,
.fsxxs {
  font-size: 11px;
  line-height: $line-height-base;
}

.font-size-xxxs,
.fsxxxs {
  font-size: 10px;
  line-height: 14px;
}

.font-size-xxxl,
.font-size-xxxxl,
.letter-spacing-s,
.letter-spacing-xs {
  letter-spacing: -1px;
}

// Headers
h1,
h2,
h3,
h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

h3,
h5,
h6,
p {
  font-weight: 400;
}

.section-title {
  margin-bottom: 24px;
}

// Font Weight
.font-weight-3 { font-weight: 300; }

.font-weight-4 { font-weight: 400; }

.font-weight-6 { font-weight: 600; }

.thin { font-weight: 300; }

.regular { font-weight: 400; }

.bold,
b,
strong {
  font-weight: 600;
}

// TODO: Review Bootstrap conflicts
// Links
a,
.link {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: .16s;
  transition-duration: .16s;
  text-decoration: none;
}

button.link {
  border-width: 0;
  padding: 0;
}

.btn-default.link:hover,
.btn-default.link:active,
.btn-default.link:focus,
.btn-default.link:active:focus {
  background: transparent;
  text-decoration: none;
  color: $blue;
  border: 0;
}

.link:hover { text-decoration: underline; }

.link-hover-no-decoration:hover {
  text-decoration: none;
}

.link-hover-no-decoration:focus {
  text-decoration: none;
}

.link-blue { color: $brand-primary; }

.link-light,
.btn-default.link.link-light { color: $gray; }

.link-dark,
.btn-default.link.link-light:hover,
.link-light:hover { color: $gray-base; }

// Line-Height
.lh16 { line-height: 16px; }

.lh24 { line-height: 24px; }

.lh32 { line-height: 32px; }

.lh40 { line-height: 40px; }

.lh64 { line-height: 64px; }

.lh80 { line-height: 80px; }

@media (max-width: $screen-md) {

  h1,
  .h1 {
    font-size: $font-size-h1-mobile;
    line-height: $line-height-h1-mobile;
  }

  h2,
  .h2 {
    font-size: $font-size-h2-mobile;
    line-height: $line-height-h2-mobile;
  }
}
