// Brand Colors -- Host Monster
$brand-primary: #4a4885;
$brand-primary-alternate: #313046;
$brand-success: #426c00;
$brand-danger: #c13425;
$brand-warning: #f89c24;
$brand-info: $brand-primary;
$brand-border-bottom: $brand-primary;
$brand-two-letter: 'hm';
