/* Lists */
ul {
  list-style: none;
}

ul,
ol {
  font-size: 16px; // TODO
  line-height: 24px; // TODO
  outline: 0;
}

.list-reset {
  list-style: none;
  padding-left: 0;
}

.divided-list>li {
  border-bottom: 1px solid $athens;
}

.divided-list>li:last-child {
  border-bottom: none;
}

.list-tall {
  line-height: $line-height-base * 2;
}

.list-bulleted {
  list-style: disc inside;
}

.linear-list {
  display: block;

  @include clearfix;

  >li:first-child,
  &.spaces>li:first-child {
    padding-left: 0;
    margin-left: 0;
    border-left: 0 none;
  }

  >li {
    float: left;
    margin-left: 16px;
  }

  &.spaces>li {
    margin-left: 16px;
  }
}

.next-lines-li-space {
  margin-left: 23px;
}
