// Brand Colors -- JustHost
$brand-primary: #f14346;
$brand-primary-alternate: lighten($brand-primary, 10%);
$brand-success: #00c11a;
$brand-danger: #f72f26;
$brand-warning: #f89c24;
$brand-info: $brand-primary;
$brand-border-bottom: rgb(215, 219, 224);
$brand-two-letter: 'jh';
