$brand-two-letter: 'jh';

// Brand Colors -- JustHost
$brand-primary: #f14346;
$brand-primary-alternate: lighten($brand-primary, 10%);
$brand-success: #00c11a;
$brand-danger: #d0021b;
$brand-warning: #f89c24;
$brand-info: $brand-primary;
$brand-border-bottom: #d7dbe0;
