// Grid 20% 1 of 5 added

.col-sm-1-5, .col-md-1-5, .col-lg-1-5 {
    position: relative;
    min-height: 1px;
    padding-left: 16px;
    padding-right: 16px;
}

.col-xs-1-5 {
  float: left;
}

@media (min-width: $screen-sm) {
  .col-md-1-5 {
    width: 100%;
  }
}

@media (min-width: $screen-md) {
  .col-md-1-5 {
    float: left;
    width: 20%;
  }
}

@media (min-width: $screen-lg) {
  .col-lg-1-5 {
    float: left;
    width: 20%;
  }
}
