// height
.h24 { height: 24px; }
.h32 { height: 32px; }
.h40 { height: 40px; }
.h48 { height: 48px; }
.h64 { height: 64px; }
.h80 { height: 80px; }
.h180 { height: 180px; }
.h230 { height: 230px; }
.h325 { height: 325px; }

.h100,
.height-fit { height: 100%; }

// min-height
.mh1 { min-height: 30px; }
.mh2 { min-height: 60px; }
.mh3 { min-height: 90px; }
.mh4 { min-height: 120px; }
.mh5 { min-height: 150px; }
.mh180 { min-height: 180px; }
.mh325 { min-height: 325px; }
