// Margin
.m0   { margin: 0 }
.mt0  { margin-top: 0 }
.mr0  { margin-right: 0 }
.mb0  { margin-bottom: 0 }
.ml0  { margin-left: 0 }
.mx0  { margin-left: 0; margin-right:  0 }
.my0  { margin-top: 0;  margin-bottom: 0 }

.m1   { margin:        $xxs }
.mt1  { margin-top:    $xxs }
.mr1  { margin-right:  $xxs }
.mb1  { margin-bottom: $xxs }
.ml1  { margin-left:   $xxs }
.my1  { margin-top:    $xxs; margin-bottom: $xxs }
.mx1  { margin-left:   $xxs; margin-right:  $xxs }
.mnt1 { margin-top:   -$xxs; }

.m2   { margin:        $xs }
.mt2  { margin-top:    $xs }
.mr2  { margin-right:  $xs }
.mb2  { margin-bottom: $xs }
.ml2  { margin-left:   $xs }
.my2  { margin-top:    $xs; margin-bottom: $xs }
.mx2  { margin-left:   $xs; margin-right:  $xs }
.mnt2 { margin-top:   -$xs; }

.m3   { margin:        $sm }
.mt3  { margin-top:    $sm }
.mr3  { margin-right:  $sm }
.mb3  { margin-bottom: $sm }
.ml3  { margin-left:   $sm }
.my3  { margin-top:    $sm; margin-bottom: $sm }
.mx3  { margin-left:   $sm; margin-right:  $sm }

.m4   { margin:        24px }
.mt4  { margin-top:    24px }
.mr4  { margin-right:  24px }
.mb4  { margin-bottom: 24px }
.ml4  { margin-left:   24px }
.my4  { margin-top:    24px; margin-bottom: 24px }
.mx4  { margin-left:   24px; margin-right:  24px }

.m5   { margin:        40px }
.mt5  { margin-top:    40px }
.mr5  { margin-right:  40px }
.mb5  { margin-bottom: 40px }
.ml5  { margin-left:   40px }
.my5  { margin-top:    40px; margin-bottom: 40px }
.mx5  { margin-left:   40px; margin-right:  40px }

.m6   { margin:        80px }
.mt6  { margin-top:    80px }
.mr6  { margin-right:  80px }
.mb6  { margin-bottom: 80px }
.ml6  { margin-left:   80px }
.my6  { margin-top:    80px; margin-bottom: 80px }
.mx6  { margin-left:   80px; margin-right:  80px }

.nmb1 { margin-bottom: -4px; }

@media (min-width: $screen-md) {
  .tablet-m0  {margin:0;}
  .tablet-mb0 {margin-bottom:0;}
  .tablet-mb2 {margin-bottom:$xs;}
}

@media (min-width: $screen-lg) {
  .desktop-m0  {margin:0;}
  .desktop-mb0 {margin-bottom:0;}
  .desktop-mb2 {margin-bottom:$xs;}
}
